body {
	background-color: #141a26;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #fff;
}
h1 {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 20pt;
	position: absolute;
	top: 40px;
	width: 100%;
	letter-spacing: .5em;
}

#info {	
	xtext-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 5px;
	z-index: 100;
	
	font-size: 12px;
	line-height:20px;
}

#latlng {
	text-align: left;
	position: absolute;
	bottom: 40px;
	left: 40px;
	font-size: 12pt;
	letter-spacing: .2em;
	line-height: 24px;
}

.light { 
	font-weight: 200;
}

#loading {
	font-size: 26px;
	position: absolute;
	top: 50%;
	width: 100%;
	margin:-20px;
	

}

#debugCtx{
	position: absolute;
	top:10px;
	left: 100px;
	xwidth: 800px;
	xheight: 600px;
}

#sc_form {
	position: absolute;
}

a {
    color: #fff;
	xtext-decoration:none;
}